manifest {
    name            = 'nf-MIA-GISAID-pipeline'
    author          = 'Kyrylo Bessonov'
    homePage        = 'https://github.com/kbessonov1984/nf-MIA-pipeline'
    description     = 'Pipeline to predict significance of SARS-COV-2 mutations'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '1.0.0'
}


params {
    help = false
    outdir = "results"
    GISAIDMetaDataFile = null
    GISAIDdatabase = null
    GISAID_fasta_file = null
    reference_fasta = "references/NC_045512.2.fasta"
    analysis = null
    in_group_lineage = null
    dbupdate_create = null
    location_string = null
    n_permutations = 1000
    start_date = ""
    end_date = ""
    
}

profiles {
    process.executor="slurm"
    process.queue="NMLResearch"
    process.memory = 8. GB
    //executor.queueSize = 80
    executor.submitRateLimit = '1'
    conda {
        params.enable_conda    = true
        process{
            conda = 'r-base conda-forge::r-stringr conda-forge::r-jsonlite bioconda::r-vcfr'
            withName: 'GetVCFSample'{
                /*process.container="docker://quay.io/biocontainers/snippy:4.6.0--hdfd78af_1"*/
                /*singularity.cacheDir = "work/singularity"*/
                conda = "bioconda::snippy==4.6.0"
                //conda="/home/CSCScience.ca/kbessono/.conda/envs/snippy"
                cpus = 8
                }
               
        }
    }
}

